/* место для вашего кода */
ul {
  list-style: none;
  padding-left: 0;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-content: center;
  align-items: space-between;
  padding-top: 5px;
  height: 293px;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-header {
align-items: center;
  display: flex;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.list-image {
  place-self: center center;
  margin: auto 13px;
  width: 6px;
  height: 10px;
  display: inline;
}

.header-logo {
  place-self: center center;
  width: 148px;
  height: 105px;
}

.address-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  grid-column: -1;
}

.text-underlined {
  border-bottom: 1px solid #000000;
}

.cover {
  width: 1100px;
  height: 757px;
  position: relative;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  color: #FFFFFF;
  background-color: rgb(0 0 0/0.6);
}

.cover-image-background {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover-title-flex {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-bottom: 106px;
}

.cover-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover-title:nth-child(1) {
  align-self: flex-start;
}

.cover-title:nth-child(2) {
  align-self: center;
}

.cover-title:nth-child(3) {
  align-self: flex-end;
}

.description {
  height: 51px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.cover-button {
  height: 100%;
  padding-left: 31px;
  padding-right: 32px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: none;
  border: 1px solid #FFFFFF;
}

.lots-title {
  margin-left: 40px;
  margin-bottom: 27px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
}

.lots-card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.lots-card {
  position: relative;
  width: 334px;
  height: 596px;
  background-color: rgba(0, 0, 0, 0.6);
}

.lot-content {
  width: 100%;
  height: 100%;
}

.lot-content-items {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lot-name {
/* Фильм режиссёра, который бросил киношколу */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
}

.lot-description {
  /* Не просто бросил, а ушёл с первой лекции. Какой была бы ваша ставка, если бы вы не знали, что режиссёр — Пол Томас Андерсон? */


font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* or 24px */

color: #FFFFFF;


}

.lot-image-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.lots-more-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.about {
  width: 1052px;
  margin: 180px 24px 120px 24px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 72px;
}

.about-logo {
  width: 240px;
  height: 240px;
  margin-left: 47px;
  margin-top: 35px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-text-container {
  margin-top: 133px;
}

.about-text {
  margin-bottom: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

}

.about-text-title {
  margin-bottom: 100px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;

}

.footer {
  height: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.address-footer {

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.link-image-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  column-gap: 48px;
  justify-content: end;
  justify-items: end;

}

.link-image {
  height: 48px;
  width: 48px;
}
